.post {
    width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 1px solid #3b0062;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
}
  
.post:not(:last-child) {
    
}

.post__meta {
    color: #707070;
    margin: 0;
}

.post__title {
    font-size: 1.5rem;
}

.post__content {
    margin: 2rem 0;
    word-break: break-all;
}

.post__actions {
    margin-top: auto;
}

@media all and (max-width: 680px) {
    .post {
        margin: 0 0 1rem 0;
        width: 100%;
    }
  }
  
  